@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

@section main {
<article>
    <script>
        $(document).ready(function () {
            $(".toggle").click(function () {
                $(".hidden").toggle()
            });
        });
    </script>
   <div class="toggle"><h3>See our Official Forum Page</h3></div>
                            <div style="background-color: #000" class="hidden">
                                <img  alt="Worlds Adrift Logo" src="https://www.worldsadrift.com/wp-content/themes/worlds-adrift-2016/img/logo-worlds-adrift.png">
                            </div>
</article>
}