@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<section class="contact">
<div>
<p>TO CONTACT THE DEV TEAM DROP A COMMENT ON OUR GITHUB <a href="https://github.com/SkyDriftersWebsiteTeam/Sky-Drifters-Website">REPO</a></p>
</div>
</section>
