@{
    Layout = "~/Sky Drifters/_SiteLayout.cshtml";
    Page.Title = "Home";
}

@section main {
<section class="main">
    <div class="content-wrapper">
        <blockquote style="float: inside" class="blockquote-reverse" cite="https://www.worldsadrift.com/alliances/sky-drifters/">
         We are one of the oldest and largest Precursor factions of Worlds Adrift. We occasionally host Social Nights where we jump onto a Skype call, discuss WA news, play games and generally have a good time! The Sky Drifters are not your typical faction, we all do our own thing in a sense, all pursue our own goals while helping out each other whenever we can. We are more of a group of individuals that fly under one banner, we aim to bring about harmony to WA, help those that need it and make the world as pleasant as possible. We have a Sister Faction, WANMED who focus on being our more combat ready ships and crews, often being the Vanguard of the fleet, led by Captain Ryouji   
        <footer>Sky Drifters :: Worlds Adrift</footer>
        </blockquote>
    </div>
</section>
}